@font-face {
  src: url('fonts/marfa-var.woff2') format('woff2-variations');
  font-family: Marfa;
}

html {
  font-family: 'Marfa';
}

a {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

body {
  background-color: rgb(0, 0, 0);
}

svg {
  width: 20%;
}

button {
  background-color: rgb(0, 0, 0);
  border: none;
}

.header {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  border-bottom: 1px solid white;
}

.dropdown {
  display: flex;
  width: 20vw;
  align-items: center;
}

.dropBtn {
  display: flex;
  align-items: center;
  gap: 9px;
}

.dropBtn svg {
  order: 1;
}

a:hover {
  color: rgb(205, 205, 205);
  cursor: pointer;
  transform: scale(1.4);
}
